*.sqlite
*.json
*.suo
*.dll
*.application
*.manifest
*.xml
*.lib
/.vs/OTT
/.vs/OntosTT
/bin/Debug
/bin/Release
/bin/OTT_PLUS_EXE - V1.2.6 (Cascading Recipes Update).zip
/obj/Release
/obj/Debug
/OntosTT.vbproj.user
/packages/
/bin/
/UnitTestsOntosCLEAN/bin/
/UnitTestsOntosCLEAN/obj/
